<div class="home-footer mt-50">
  <div class="container">
    <div class="home-footer-main clearfix">
      <div class="col-md-6 col-md-sm-12 pl-0">
        <h3 class="footer-logo-text">topsyntax</h3>
        <p class="mt-20">Hire the top resources in the world at Topsyntax with your preferred working hours and excellent customer support.
          Topsyntax helps you achieve greater things in business while providing the best resources with 24/7 Support.</p>
      </div>
      <div class="col-md-6 col-md-sm-12 pl-0">
        <div class="col-md-4 plr-0 footer-links float-left">
          <h5 class="">Company</h5>
          <p class="pointer" style="margin-top: 23px" [routerLink]="['/remote-it-staffing']">Remote IT Staff</p>
          <p class="pointer" [routerLink]="['/services']">Services</p>
          <p class="pointer" [routerLink]="['/about']">About</p>
          <p class="pointer" [routerLink]="['/contact-us']">Contact</p>
        </div>
        <div class="col-md-8 plr-0 footer-links float-left">
          <h5 class="">Locations</h5>
          <p style="margin-top: 23px"><span class="fa fa-phone white-color" style="font-size: 16px;width: 30px;"></span> +1 (415) 299-8772</p>
          <p class="mt-5"><span class="fa fa-envelope white-color" style="font-size: 16px;width: 30px;"></span>sales@topsyntax.io</p>
          <p class="white-color mt-5"><span class="fa fa-map-marker white-color" style="font-size: 16px;width: 30px;"></span><strong class="white-color">Silicon Valley Office</strong></p>
          <p class="mt-5" style="padding-left: 30px">44240 Fremont Blvd Fremont, CA 94538.</p>
          <p class="white-color mt-5"><span class="fa fa-map-marker white-color" style="font-size: 16px;width: 30px;"></span><strong class="white-color">Lahore Office</strong></p>
          <p class="mt-5" style="padding-left: 30px">87-Y Street 8, DHA Phase 3, Lahore</p>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="main-footer clearfix">
  <div class="container mt-20">
    <div class="col-sm-6 col-xs-12 pl-0">
      <p>© 2020 topsyntax. All rights reserved.</p>
    </div>
    <div class="col-sm-6 col-xs-12 main-footer-icons">
      <div class="text-right clearfix" style="padding-bottom: 10px">
        <img src="../../assets/images/icon-twitter.png">
        <a class="pointer" target="_blank" href="https://www.linkedin.com/company/topsyntax/">
        <img src="../../assets/images/icon-linkdin.png">
        </a>
        <img src="../../assets/images/icon-google.png">
        <a class="pointer" target="_blank" href="https://web.facebook.com/Topsyntax-103052454752842?_rdc=1&_rdr">
          <img src="../../assets/images/icon-fb.png">
        </a>
      </div>
    </div>
  </div>
</div>
