.input-container{
  position:relative;
  margin-bottom:25px;
}
.input-container label{
  position:absolute;
  top:0px;
  left:0px;
  font-size:14px;
  color:#535d67;
  pointer-event:none;
  transition: all 0.5s ease-in-out;
}
.input-container input{
  border:0;
  border-bottom:1px solid #bbb8b896;
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#535d67;
}
.input-container input:focus{
  border:none;
  outline:none;
  border-bottom:1px solid #f15e58;
}


.input-container input:focus ~ label,
.input-container input:valid ~ label{
  top:-12px;
  font-size:12px;

}



.textarealabel{
  position:absolute;
  top:-25px !important;
  left:0px;
  font-size:14px;
  color:#535d67;
  pointer-event:none;
  transition: all 0.5s ease-in-out;
}

.input-container textarea{
  /*border:0;*/
  border:1px solid #bbb8b896;
  background:transparent;
  width:100%;
  padding:8px 5px 5px 5px;
  font-size:16px;
  color:#535d67;
  height: 140px!important;
}
.input-container textarea:focus{
  /*border:none;*/
  outline:none;
  border:1px solid #f15e58;
}


.input-container textarea:focus ~ label,
.input-container textarea:valid ~ label{
  top:-12px;
  font-size:12px;

}


.attachfileSection{
  padding: 50px;
  text-align: center;
  border:1px solid #bbb8b896;
  border-style: dashed;
}


.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 350px;
  margin-top: 0px !important;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  border: 1px solid #f15e58;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #f15e58;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
