<div class="contact-head width-100" style="margin-top: 70px">
  <div class="container">
    <div class="blog-text-main text-center clearfix">
      <h2><span class="main-color">Get in touch to discuss your project,</span> request a quote or even just to pick our brains.</h2>
      <p class="mt-20 p-dark">Let’s get to work! Please answer a couple of short questions about you and your project.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="contact-img">
    <img src="../../assets/images/contact-img.png">
  </div>
</div>



<div class="container mt-50">
  <h3>What will happen next?</h3>
  <p class="p-dark">You are a step closer to building great software</p>
</div>


<div class="container contact-form mt-50">
  <h4><span class="main-color mr-20">01</span>Tell us about your company</h4>
  <div class="row">
    <div class="col-xs-12 mt-20">
      <div class="input-container">
        <input type="text" required=""/>
        <label>Your Name*</label>
      </div>
    </div>


    <div class="col-xs-6 mt-20">
      <div class="input-container">
        <input type="text" required=""/>
        <label>Your Email*</label>
      </div>
    </div>
    <div class="col-xs-6 mt-20">
      <div class="input-container">
        <input type="text" required=""/>
        <label>Your Phone No</label>
      </div>
    </div>


    <div class="col-xs-12 mt-20">
      <div class="input-container">
        <input type="text" required=""/>
        <label>Company Website</label>
      </div>
    </div>

    <div class="col-xs-12 mt-20">
      <div class="input-container">
        <input type="text" required=""/>
        <label>What’s your company’s biggest challenge today ?</label>
      </div>
    </div>



  </div>


  <h4><span class="main-color mr-20">02</span>What are you looking to work on?</h4>
  <div class="row">
    <div class="col-xs-12 mt-50">
      <div class="input-container">
        <textarea type="text" required=""></textarea>
        <label class="textarealabel">Describe your Project Briefly*</label>
      </div>
    </div>


<!--    <div class="col-xs-12 mt-30">-->
<!--      <div class="attachfileSection">-->
<!--        <p class="p-dark">Describe your Project Briefly</p>-->
<!--      </div>-->
<!--    </div>-->

  </div>



  <h4 class=""><span class="main-color mr-30">03</span>What services are you interested in?</h4>

  <div class="mt-50">
    <label class="checkbox"><span class="p-dark" style="font-weight: 200;">Remote IT Staff</span>
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox"><span class="p-dark" style="font-weight: 200;">Web Development for Startups</span>
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox"><span class="p-dark" style="font-weight: 200;"> Enterprise Services</span>
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox"><span class="p-dark" style="font-weight: 200;">Product Planning & Strategy</span>
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox"><span class="p-dark" style="font-weight: 200;">Rescue Projects</span>
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>


<div class="text-center mt-50">
  <button class="btn btn-custom">Submit</button>
</div>
</div>

