<!--<div class="clearfix width-100 remote-it-header">-->
<!--  <div class="remote-it-header-img">-->
<!--    <img src="../../assets/images/remoteit-header.png">-->
<!--  </div>-->
<!--  -->
<!--</div>-->



<div class="hero-image" style="margin-top: 70px">
  <div class="hero-text">
    <h3>Hire the top talent for your business from our high quality pool of individuals.</h3>
    <p class="mt-20">Top 10% programmers, developers & marketers available at your preferred time and terms. Guaranteed premier
      quality results by our highly qualified resources at Bay Area with experience of working with Macy’s & Walmart.</p>
    <button class="btn btn-custom mt-20" [routerLink]="['/contact-us']">Recruit the talent</button>
  </div>
</div>


<div class="container mt-50">
  <div class="blog-text-main text-center">
    <h3 class="heading-line"><span>Remote IT Staffing</span></h3>
    <p class="mt-20">Topsyntax specialises in remote staffing services, collecting the pool of top software developers,
      engineers, product managers and highly skilled digital marketers hired using modern recruitment tools all across the globe.
      Our priority is to provide you the perfect platform to grow your business without the hassle of taxation and federal laws.</p>
  </div>
<!--  <h3>Screening Procedure:</h3>-->
<!--  <p>Four Steps: (Infographics)</p>-->

  <div class="hidden-xs">
    <div class="row recruitment-process-main mt-30">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="recruitment-process-text">
          <p class="main-color">Step 1</p>
          <p>Technical Testing: We ensure that all our resources meet the certain criteria by scoring good marks in our specific course related to their field.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../../assets/images/recruitment1.png">
      </div>
    </div>


    <div class="row recruitment-process-main mt-30">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../../assets/images/requirement2.png">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="recruitment-process-text">
          <p class="main-color">Step 2</p>
          <p>Communicational Skills: Second step is to make sure that each resource meets the standard set for verbal and written skills.</p>
        </div>
      </div>
    </div>


    <div class="row recruitment-process-main mt-30">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="recruitment-process-text">
          <p class="main-color">Step 3</p>
          <p> Video conferencing with Guests: Our hand-picked resources are thrown into the deep end of the pool where few highly qualified guests interview our resources and evaluate them.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../../assets/images/requirement3.png">
      </div>
    </div>


    <div class="row recruitment-process-main mt-30">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../../assets/images/requirement4.png">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="recruitment-process-text">
          <p class="main-color">Step 4</p>
          <p>Prior Working Experience with Clients: Each resource listed on our website and platform has already worked with prestigious clients and delivered the work successfully.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="visible-xs">
    <div class="row recruitment-process-main-mobile mt-30">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="">
          <p class="main-color">Step 1</p>
          <p>Technical Testing: We ensure that all our resources meet the certain criteria by scoring good marks in our specific course related to their field.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../../assets/images/recruitment1.png">
      </div>
    </div>


    <div class="row recruitment-process-main-mobile mt-30">
      <div class="col-md-6 col-sm-6 col-xs-12 float-right-mobile">
        <div class="">
          <p class="main-color">Step 2</p>
          <p>Communicational Skills: Second step is to make sure that each resource meets the standard set for verbal and written skills.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 float-right-mobile">
        <img src="../../assets/images/requirement2.png">
      </div>
    </div>


    <div class="row recruitment-process-main-mobile mt-30">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="">
          <p class="main-color">Step 3</p>
          <p>Video conferencing with Guests: Our hand-picked resources are thrown into the deep end of the pool where few highly qualified guests interview our resources and evaluate them.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../../assets/images/requirement3.png">
      </div>
    </div>


    <div class="row recruitment-process-main-mobile mt-30">
      <div class="col-md-6 col-sm-6 col-xs-12 float-right-mobile">
        <div class="">
          <p class="main-color">Step 4</p>
          <p>Prior Working Experience with Clients: Each resource listed on our website and platform has already worked with prestigious clients and delivered the work successfully.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 float-right-mobile">
        <img src="../../assets/images/requirement4.png">
      </div>
    </div>
  </div>

</div>



<div class="width-100 induction-model mt-50">
  <div class="container induction-model-main">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4>Induction Model</h4>
        <p class="main-color mb-0 mt-20">01</p>
        <p>Meeting the required criteria from our resources pool.</p>

        <p class="main-color mb-0 mt-20">02</p>
        <p>Screening of the hand-picked resources by your team.</p>

        <p class="main-color mb-0 mt-20">03</p>
        <p> Free Trials for 02 weeks.</p>

        <p class="main-color mb-0 mt-20">04</p>
        <p>Hiring of the dedicated resource/team.</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../../assets/images/meeting-cri.png" class="meeting-criteria-img">
        <p>Meeting the Criteria</p>
      </div>
    </div>
  </div>
</div>



<div class="container mt-50">
  <div class="blog-text-main mt-15">
    <h3 class="heading-line"><span>Resource Profiling</span></h3>
  </div>

  <div class="resourse-profiling-slider mt-50 owl-carousel owl-theme mt-25">

    <div class="item">
      <div class="resource-profiling-boxMain text-center">
        <img src="../../assets/images/resource2.jpg">
        <div class="clearfix">
          <p class="mb-0">Maven Redman</p>
          <p class="font-size-11">Founder and CEO</p>
          <p class="font-size-11 mt-20 line-height-18">Hi! Thank you for visiting. I have spent a better part of my life dedicated to what I love, building great products</p>
          <button class="btn btn-custom mt-20" [routerLink]="['/contact-us']">View Resume</button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="resource-profiling-boxMain text-center">
        <img src="../../assets/images/resource1.jpg">
        <div class="clearfix">
          <p class="mb-0">Jamie Mitchell</p>
          <p class="font-size-11">Project Development Head</p>
          <p class="font-size-11 mt-20 line-height-18">Hi! Thank you for visiting. I have spent a better part of my life dedicated to what I love, building great products</p>
          <button class="btn btn-custom mt-20"  [routerLink]="['/contact-us']">View Resume</button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="resource-profiling-boxMain text-center">
        <img src="../../assets/images/resource4.png">
        <div class="clearfix">
          <p class="mb-0">Reinis Krumins</p>
          <p class="font-size-11">Chief Business Officer</p>
          <p class="font-size-11 mt-20 line-height-18">Hi! Thank you for visiting. I have spent a better part of my life dedicated to what I love, building great products</p>
          <button class="btn btn-custom mt-20" [routerLink]="['/contact-us']">View Resume</button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="resource-profiling-boxMain text-center">
        <img src="../../assets/images/resource3.jpg">
        <div class="clearfix">
          <p class="mb-0">Gavin Bell</p>
          <p class="font-size-11">CMO</p>
          <p class="font-size-11 mt-20 line-height-18">Hi! Thank you for visiting. I have spent a better part of my life dedicated to what I love, building great products</p>
          <button class="btn btn-custom mt-20" [routerLink]="['/contact-us']">View Resume</button>
        </div>
      </div>
    </div>

  </div>

  </div>







<div class="container mt-50 text-center">
  <div class="blog-text-main mt-15">
    <h3 class="heading-line"><span>Success Stories of Our Clients</span></h3>
  </div>
  <div class="success-story-main mt-30">
    <div class="success-story-slider owl-carousel owl-theme mt-25">
      <div class="item">
        <img src="../../assets/images/story1.jpg">
        <p class="mt-40">We are very pleased with how our relationship has evolved with TopSyntax. Process flexibility along with a
          customized blend of on-site and highly professional global talent—what could make more sense?</p>
        <p class="mt-40">Peter Jobbagy</p>
        <!--          <p class="">DesignTable</p>-->
      </div>

      <div class="item">
        <img src="../../assets/images/story2.png">
        <p class="mt-40">TopSyntax has proved to be an excellent Outsourcing company for all our Software Development need for over 2
          years. Excellence is earned and trust has been built over the period of time. Partnering with them has provided efficient,
          flexible and cost-effective solutions for our IT needs. They have clearly demonstrated their commitment to providing
          high-quality solutions.  </p>
        <p class="mt-40">John Andrew Williams</p>
      </div>

      <div class="item">
        <img src="../../assets/images/story3.jpg">
        <p class="mt-40">The new application was to be used across our offices by senior management at different locations,
          TopSyntax did an excellent work. They clearly understood the requirements and delivered good quality Price Comparison Tool.
          They pleased us with their high level of creativity and dedication. They promptly identified the loop holes, which helped us save
          big on the project cost. We’ll definitely continue to work with you in future. </p>
        <p class="mt-40">Rui (Ray) Wang</p>
      </div>

      <div class="item">
        <img src="../../assets/images/story4.jpg">
        <p class="mt-40">I was recommended to TopSyntax by a close colleague. From the outset, I found the team at TopSyntax very
          professional in terms of their communication, technical skills, and flexibility. They have helped to transform our e-Commerce
          offering into a platform with excellent stability and speed. The bottom line is, I would recommend TopSyntax to any
          e-Commerce company. </p>
        <p class="mt-40">Emma Johnson</p>
      </div>

    </div>
  </div>
</div>
