<div class="hero-image" style="margin-top: 70px">
  <div class="hero-text">
    <h3>How we can make your Business Standout</h3>
    <p class="mt-20">We transform unique ideas to a beautiful product through our world-class software developers.</p>
    <p class="mt-10">Being Premier IT Solutions & Services partner, TopSyntax focuses on delivering cutting-edge and robust business solutions that leverage the latest industry trends through providing skilled resources and delivering quality projects</p>
    <button class="btn btn-custom mt-20" [routerLink]="['/contact-us']">Recruit the talent</button>
  </div>
</div>

<div class="container">

  <div class="services-slider owl-carousel owl-theme" style="box-shadow: 0 0.5px 3px 0 rgba(0, 0, 0, 0.08);margin-top: -90px;background-color: #ffffff">
    <div class="item">
      <div class="slider-box-services text-center">
        <img src="../../assets/images/service-consiltant.png">
        <h5 class="mt-10">Consulting/Staffing</h5>
      </div>
    </div>

    <div class="item">
      <div class="slider-box-services text-center">
        <img src="../../assets/images/service-mobile.png">
        <h5 class="mt-10">Mobile Application Development</h5>
      </div>
    </div>


    <div class="item">
      <div class="slider-box-services text-center">
        <img src="../../assets/images/service-web.png">
        <h5 class="mt-10">Web Application Development</h5>
      </div>
    </div>


    <div class="item">
      <div class="slider-box-services text-center">
        <img src="../../assets/images/servoce-web-internet.png">
        <h5 class="mt-10">Custom Software Development</h5>
      </div>
    </div>


    <div class="item">
      <div class="slider-box-services text-center">
        <img src="../../assets/images/service-api.png">
        <h5 class="mt-10">API Integration</h5>
      </div>
    </div>

    <div class="item">
      <div class="slider-box-services text-center">
        <img src="../../assets/images/service-games.png">
        <h5 class="mt-10">Hire Dedicated Developer </h5>
      </div>
    </div>


    <div class="item">
      <div class="slider-box-services text-center">
        <img src="../../assets/images/service-layer.png">
        <h5 class="mt-10">Cloud Agnostic Services</h5>
      </div>
    </div>


  </div>

</div>


<div class="container mt-50">
  <div class="blog-text-main">
    <h3 class="heading-line mt-50"><span>Why People Love TopSyntax?</span></h3>
  </div>
</div>


<div class="gry-gb width-100 clearfix mt-50">
  <div class="container" style="padding: 80px 0px">
    <div class="col-sm-4 col-xs-12">
      <p class="white-color"><span class="main-color mr-15">01</span>Everyone is included</p>
      <p class="font-size-11" style="color: #c1c1c1">Everyone is a Team Member: When you decide to work with us, you become our own team member. You are at home</p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <p class="white-color"><span class="main-color mr-15">02</span> 3x faster iterations</p>
      <p class="font-size-11" style="color: #c1c1c1">3x Productivity:Once decided to move on, set the goals align, define the timelines, get ready to achieve the top spot with TopSyntax</p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <p class="white-color"><span class="main-color mr-15">03</span> Save money on dev tools</p>
      <p class="font-size-11" style="color: #c1c1c1">Save Money on the Tools: Inspect and code Figma, Sketch, PSD, Adobe XD, and AI files without design tools.</p>
    </div>
  </div>
</div>


<div class="container mt-50">
  <div class="row mt-20">
    <div class="col-sm-6 col-xs-12">
      <img src="../../assets/images/service-img1.png" class="width-100">
    </div>
    <div class="col-sm-6 col-xs-12">
      <h3>Consulting/Staffing</h3>
      <p>TopSyntax connects you with the world’s top talent in web development, business and systems analysis, software development, digital marketers & engineering screened using modern recruitment tools.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">01</span>Top Resources Pool for each technology stack</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">02</span>Hired Resources Using Modern Recruitment Tool</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">03</span>Better Efficiency & Productivity Guaranteed at Economical Rates</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">04</span>Resources Available on Per Hour & Project Basis</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">05</span>Free Trial Period</p>
    </div>
  </div>

  <div class="row mt-50">
    <div class="col-sm-6 col-xs-12 visible-xs">
      <img src="../../assets/images/service-img2.png" class="width-100">
    </div>
    <div class="col-sm-6 col-xs-12">
      <h3>Custom Software Development Services.</h3>
      <p>Building customized solutions which bring efficiency and speed to  your business workflows.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">01</span>Validate your vision</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">02</span>Innovate and compete</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">03</span>Maximise your efficiency</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">04</span>Speed up delivery</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">05</span>Future-proof your applications</p>
    </div>
    <div class="col-sm-6 col-xs-12 hidden-xs">
      <img src="../../assets/images/service-img2.png" class="width-100">
    </div>
  </div>


  <div class="row mt-50">
    <div class="col-sm-6 col-xs-12">
      <img src="../../assets/images/service-img-3.png" class="width-100">
    </div>
    <div class="col-sm-6 col-xs-12">
      <h3>Mobile Application Development Services.</h3>
      <p>Talented pool of developers experienced in mobile apps providing excellent services.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">01</span>Create a superior UX</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">02</span>Become more scalable and flexible</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">03</span>Optimise applications faster</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">04</span>Improve app maintainability</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">05</span>Pre-empt performance issues</p>
    </div>
  </div>


  <div class="row mt-50">
    <div class="col-sm-6 col-xs-12 visible-xs">
      <img src="../../assets/images/service-img4.png" class="width-100">
    </div>
    <div class="col-sm-6 col-xs-12">
      <h3>Web Applications Development service</h3>
      <p>Make solutions that accelerate workflows, optimize operations and boost revenues.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">01</span>Research and Discovery</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">02</span>Validating and Shaping Idea</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">03</span>Design and Prototyping</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">04</span>Development</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">05</span>Testing and Quality Assurance</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">06</span>Maintenance and Support</p>
    </div>
    <div class="col-sm-6 col-xs-12 hidden-xs">
      <img src="../../assets/images/service-img4.png" class="width-100">
    </div>
  </div>



  <div class="row mt-50">
    <div class="col-sm-6 col-xs-12">
      <img src="../../assets/images/service-img-3.png" class="width-100">
    </div>
    <div class="col-sm-6 col-xs-12">
      <h3>Dedicated Applications Development Team</h3>
      <p>Get experienced dedicated team hand-picked to reduce your overheads while ensuring timely deliverables.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">01</span>People with various qualifications and specializations.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">02</span>Integrated with your internal teams and infrastructure.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">03</span>Team with maximum productivity and skill</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">04</span>Dedicated team members</p>
    </div>
  </div>

  <div class="row mt-50">
    <div class="col-sm-6 col-xs-12 visible-xs">
      <img src="../../assets/images/service-img2.png" class="width-100">
    </div>
    <div class="col-sm-6 col-xs-12">
      <h3>Software Product Development Services</h3>
      <p>We partner with startups and entrepreneurs to transform their ideas into quality software products.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">01</span>Product Launch Consulting.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">02</span>Product Development Consulting.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">03</span>Quality Assurance Consulting.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">04</span>Application Lifecycle Management.</p>
      <p style="border-bottom: 1px solid #e8e6e6;padding-bottom: 8px"><span class="main-color mr-15">04</span>Website Development and Management.</p>
    </div>
    <div class="col-sm-6 col-xs-12 hidden-xs">
      <img src="../../assets/images/service-img2.png" class="width-100">
    </div>
  </div>

</div>



<div class="gry-gb width-100 clearfix mt-130">
  <div class="container" style="padding-top: 60px;padding-bottom: 60px">
    <h3 class="white-color">Technology Stacks</h3>
    <p class="p-light font-size-13">No need to constantly monitor your servers for abnormal activities. Instead, you can choose to be notified of any
      activities either through email, Slack or Telegram.</p>
    <div style="">
      <ul class="nav nav-tabs mt-30" style="border: none">
        <li class="active"><a data-toggle="tab" href="#home">Frontend</a></li>
        <li><a data-toggle="tab" href="#menu1">Backend</a></li>
        <li><a data-toggle="tab" href="#menu2">E-Commerce</a></li>
        <li><a data-toggle="tab" href="#menu3">Design</a></li>
        <li><a data-toggle="tab" href="#menu4">QA & Applications Development</a></li>
      </ul>
    </div>

    <div class="tab-content mt-50">
      <div id="home" class="tab-pane fade in active">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <span class="p-dark2">TECHNOLOGIES</span>
            <h4 class="white-color">Frameworks are our constellations</h4>
            <p class="p-dark2">Constellations will guide us to support all your favourite & future trending frameworks; that’s our personal guarantee!
              To be both full-proof (Read: foolproof) from administrative task.</p>
            <div class="mt-20 clearfix">
              <img src="../../assets/images/framework1.png" width="40px" class="float-left">
              <img src="../../assets/images/framework2.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework3.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework4.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework5.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework6.png" width="40px" class="float-left ml-10">
            </div>
            <p class="p-dark2 clearfix mt-20">and many more…</p>
          </div>
          <div class="col-sm-4 col-xs-12">
            <img src="../../assets/images/service-framework.png" class="width-100">
          </div>
        </div>
      </div>

      <div id="menu1" class="tab-pane fade">

        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <span class="p-dark2">TECHNOLOGIES</span>
            <h4 class="white-color">Frameworks are our constellations</h4>
            <p class="p-dark2">Constellations will guide us to support all your favourite & future trending frameworks; that’s our personal guarantee!
              To be both full-proof (Read: foolproof) from administrative task.</p>
            <div class="mt-20 clearfix">
              <img src="../../assets/images/framework1.png" width="40px" class="float-left">
              <img src="../../assets/images/framework2.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework3.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework4.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework5.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework6.png" width="40px" class="float-left ml-10">
            </div>
            <p class="p-dark2 clearfix mt-20">and many more…</p>
          </div>
          <div class="col-sm-4 col-xs-12">
            <img src="../../assets/images/service-framework.png" class="width-100">
          </div>
        </div>


      </div>

      <div id="menu2" class="tab-pane fade">

        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <span class="p-dark2">TECHNOLOGIES</span>
            <h4 class="white-color">Frameworks are our constellations</h4>
            <p class="p-dark2">Constellations will guide us to support all your favourite & future trending frameworks; that’s our personal guarantee!
              To be both full-proof (Read: foolproof) from administrative task.</p>
            <div class="mt-20 clearfix">
              <img src="../../assets/images/framework1.png" width="40px" class="float-left">
              <img src="../../assets/images/framework2.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework3.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework4.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework5.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework6.png" width="40px" class="float-left ml-10">
            </div>
            <p class="p-dark2 clearfix mt-20">and many more…</p>
          </div>
          <div class="col-sm-4 col-xs-12">
            <img src="../../assets/images/service-framework.png" class="width-100">
          </div>
        </div>


      </div>
      <div id="menu3" class="tab-pane fade">

        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <span class="p-dark2">TECHNOLOGIES</span>
            <h4 class="white-color">Frameworks are our constellations</h4>
            <p class="p-dark2">Constellations will guide us to support all your favourite & future trending frameworks; that’s our personal guarantee!
              To be both full-proof (Read: foolproof) from administrative task.</p>
            <div class="mt-20 clearfix">
              <img src="../../assets/images/framework1.png" width="40px" class="float-left">
              <img src="../../assets/images/framework2.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework3.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework4.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework5.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework6.png" width="40px" class="float-left ml-10">
            </div>
            <p class="p-dark2 clearfix mt-20">and many more…</p>
          </div>
          <div class="col-sm-4 col-xs-12">
            <img src="../../assets/images/service-framework.png" class="width-100">
          </div>
        </div>


      </div>
      <div id="menu4" class="tab-pane fade">

        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <span class="p-dark2">TECHNOLOGIES</span>
            <h4 class="white-color">Frameworks are our constellations</h4>
            <p class="p-dark2">Constellations will guide us to support all your favourite & future trending frameworks; that’s our personal guarantee!
              To be both full-proof (Read: foolproof) from administrative task.</p>
            <div class="mt-20 clearfix">
              <img src="../../assets/images/framework1.png" width="40px" class="float-left">
              <img src="../../assets/images/framework2.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework3.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework4.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework5.png" width="40px" class="float-left ml-10">
              <img src="../../assets/images/framework6.png" width="40px" class="float-left ml-10">
            </div>
            <p class="p-dark2 clearfix mt-20">and many more…</p>
          </div>
          <div class="col-sm-4 col-xs-12">
            <img src="../../assets/images/service-framework.png" class="width-100">
          </div>
        </div>


      </div>
    </div>


  </div>

</div>



<div class="container work-flow-section mt-50">
  <div class="blog-text-main">
    <h3 class="heading-line"><span>FLOW OF WORK</span></h3>
  </div>
  <h3 class="mt-50">1. Ideation</h3>
  <p style="max-width: 700px">
    The most important phase requires a lot of experimentation. We tend to focus on all the
    steps of ideation, start from design, building a prototype and keep testing until we find the best framework for your business.
    We define the metrics that will help us to get the best ideas throughout the project to make sure it generates 3x ROI.
  </p>

  <div class="row mt-50">
    <div class="col-sm-4 col-xs-12">
      <img src="../../assets/images/flow1.png">
    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" aria-expanded="true" data-parent="#accordion1" href="#accordion1c1">
                <span class="main-color mr-15">01</span>
                Discovery
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion1c1" class="panel-collapse collapse in">
            <div class="panel-body">Get complete visibility into your Business plan alongwith the complete idea of resources,
              keep track of changes occurring at each and every level. Get an idea of cloud, and serverless
              infrastructure going to be involved in setting up a strong foundation with accurate data and relationship views for the
              complete project.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#accordion1c2"><span class="main-color mr-15">02</span>Revisit the Ideas
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion1c2" class="panel-collapse collapse">
            <div class="panel-body">Many ideas fail that once we plan to move on, we don’t go for an unbiased re-evaluation of the idea.
              We always have a parallel team for each involved team to revisit the ideas, discovery and provide the insights at a very
              initial stage.</div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <h3 class="mt-50">2. Product Strategy</h3>
  <p style="max-width: 700px">
    A product strategy draws from the ultimate vision of the product. By setting a product strategy, you can determine the direction of
    your product efforts. Product Strategy emerges from experimentation towards an aligned goal set by the key decision makers in the
    business.
  </p>

  <div class="row mt-50">
    <div class="col-sm-4 col-xs-12 visible-xs">
      <img src="../../assets/images/flow2.png">
    </div>
    <div class="col-sm-8 col-xs-12">

      <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" aria-expanded="true" data-parent="#accordion2" href="#accordion2c1">
                <span class="main-color mr-15">01</span>
                Product Backlog
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion2c1" class="panel-collapse collapse in">
            <div class="panel-body">A well-prioritized and healthy agile backlog is the backbone of a product. It does not only make releases and iteration planning easier but it also broadcasts all the things your resources must know to spend time on, taking care of all the internal work that the customer might  never notice. This helps set expectations with stakeholders and other teams, especially when they tend to expand the business and that’s where you team can stand up and deliver the high quality work.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#accordion2c2"><span class="main-color mr-15">02</span>Roadmap
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion2c2" class="panel-collapse collapse">
            <div class="panel-body">A product roadmap is a high-level visualed summary that maps out the vision and direction of your product offering over time. Creating a product roadmap is a multi-step process, as you will first need to align the vision and strategic goals for your product by mentioning the its strategic reason, determining your audience and tailoring the roadmap to resonate with your product’s strategic themes. If you stay flexible throughout this process, it helps you in building the actual roadmap.
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-sm-4 col-xs-12 hidden-xs">
      <img src="../../assets/images/flow2.png">
    </div>
  </div>



  <h3 class="mt-50">3. Product Iterations</h3>
  <p style="max-width: 700px">
    Every success story demands to have two to three workable, communicated and agreed upon Product Iterations.
    This helps team to have a broader vision and jolting the ideas in the running time.
  </p>


  <div class="row mt-50">
    <div class="col-sm-4 col-xs-12">
      <img src="../../assets/images/flow3.png">
    </div>
    <div class="col-sm-8 col-xs-12">

      <div class="panel-group" id="accordion3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" aria-expanded="true" data-parent="#accordion3" href="#accordion3c1">
                <span class="main-color mr-15">01</span>
                Planning & Progress
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion3c1" class="panel-collapse collapse in">
            <div class="panel-body">A product depends upon the well thought planning proceduer before getting it ready for the production.
              All steps are being monitored at each phase by different members of our team on daily basis.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#accordion3c2"><span class="main-color mr-15">02</span>Development Progress
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion3c2" class="panel-collapse collapse">
            <div class="panel-body">Development must match the framework designed for the product to keep it on track. Attention to detail is must while keeping the tab on progress in developmental stage.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#accordion3c3"><span class="main-color mr-15">03</span>QA
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion3c3" class="panel-collapse collapse">
            <div class="panel-body">Quality Assurance team tracks test results and project activity to increase productivity and
              reduce risk. Our Modern and flexible QA team is helping developers to meet the deadlines while assuring that quality
              gets delivered as we promise.</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#accordion3c4"><span class="main-color mr-15">03</span>Releases
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion3c4" class="panel-collapse collapse">
            <div class="panel-body">For any efficient team, it's best to release easily and often. Our team believes in making release
              a natural part of the agile culture by building a modular architecture. APIs can be tested automatically with each build
              to ensure compatibility and reduce risk in the software release.</div>
          </div>
        </div>
      </div>


    </div>
  </div>


  <h3 class="mt-50">4. Maintenance</h3>
  <p style="max-width: 700px">
    Maintenance of a product is equally important as Web Application Development. It keeps software solutions healthy to deal with all time challenging and changing technical business environments globally.
  </p>


  <div class="row mt-50">
    <div class="col-sm-4 col-xs-12 visible-xs">
      <img src="../../assets/images/flow4.png">
    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="panel-group" id="accordion4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" aria-expanded="true" data-parent="#accordion4" href="#accordion4c1">
                <span class="main-color mr-15">01</span>
                Bug Fixing
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion4c1" class="panel-collapse collapse in">
            <div class="panel-body">Our QA team makes sure that they don’t bother you for this purpose. Having said that, if you come up with anything went missing, or any problem which arises at the later stage, you will find us doing this part with a smile on our face.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion4" href="#accordion4c2"><span class="main-color mr-15">02</span>Optimization
                <span class="icon-class"></span>
              </a>
            </h4>
          </div>
          <div id="accordion4c2" class="panel-collapse collapse">
            <div class="panel-body">The purpose of optimization is to achieve the “best” final product relative to a set of prioritized criteria or constraints finalised with our clients. This includes maximising factors at each stage i.e strength, productivity,efficiency, reliability, longevity, and utilization. We want to make sure that each visit by your customer to your website is successful for you.
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-4 col-xs-12 hidden-xs">
      <img src="../../assets/images/flow4.png">
    </div>
  </div>


</div>
