<div class="container" style="margin-top: 70px">
<!--  <div class="blog-text-main text-center mt-30">-->
<!--    <h2>Delivering <span class="main-color">Agnostic & Data driven applications</span> using Kubernetes</h2>-->
<!--    <p class="mt-20">At TopSyntax, we aim to capture the significant opportunities of the cloud-driven world & turn them into lifelong value for businesses.</p>-->
<!--    <button class="btn btn-custom mt-10">Hire Now</button>-->
<!--  </div>-->


  <div class="header-slider owl-carousel owl-theme">

    <div class="item">
      <div class="blog-text-main text-center mt-30">
        <h2>Best Remote Staff With <span class="main-color">24/7 Virtual Support</span></h2>
        <p class="mt-20">Hire the top resources in the world at Topsyntax with your preferred working hours and excellent customer support.</p>
        <button class="btn btn-custom mt-10 mb-20" [routerLink]="['contact-us']">Hire Now</button>
      </div>
      <img class="owl-lazy" data-src="./../assets/slider-images/homeslider1.png" alt="">
    </div>


    <div class="item">
      <div class="blog-text-main text-center mt-30">
        <h2>Hire Full Time <span class="main-color">Top Skilled</span> Resources</h2>
        <p class="mt-20">Topsyntax helps you achieve greater things in business while providing the best resources with 24/7 Support.</p>
        <button class="btn btn-custom mt-10 mb-20" [routerLink]="['contact-us']">Hire Now</button>
      </div>
      <img class="owl-lazy" data-src="./../assets/slider-images/homeslider2.jpeg" alt="">
    </div>

    <div class="item">
      <div class="blog-text-main text-center mt-30">
        <h2>Delivering <span class="main-color">Agnostic & Data driven applications</span> using Kubernetes</h2>
        <p class="mt-20">At TopSyntax, we aim to capture the significant opportunities of the cloud-driven world & turn them into lifelong value for businesses.</p>
        <button class="btn btn-custom mt-10 mb-20" [routerLink]="['contact-us']">Hire Now</button>
      </div>
      <img class="owl-lazy" data-src="./../assets/slider-images/homeslider3.jpeg" alt="">
    </div>



  </div>


</div>



<div class="container">
  <div class="blog-text-main text-center mt-30">
    <h3 class="heading-line"><span>Remote IT Staffing</span></h3>
    <p class="mt-20">Topsyntax provides remote staffing services after screening the right resources available to deliver the quality tasks of
      business professionals. Our priority is to provide you the perfect platform to grow your business.</p>
  </div>
  <div class="row mt-30">
    <div class="col-md-3 col-sm-6 col-xs-12 remoteStaffBox">
      <div class="remote-staff-boxMain">
        <img src="../../assets/images/remotestaffimg.png">
        <div class="clearfix">
          <p class="float-left text-left main-color">01</p>
          <p class="float-left text-left">Meeting the required criteria from our resources pool.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 remoteStaffBox">
      <div class="remote-staff-boxMain">
      <img src="../../assets/images/remotestaff2.png">
        <div class="clearfix">
          <p class="float-left text-left main-color clearfix">02</p>
          <p class="float-left text-left">Screening of the hand-picked resources by our team.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 remoteStaffBox">
      <div class="remote-staff-boxMain">
      <img src="../../assets/images/remotestaff3.png">
        <div class="clearfix">
          <p class="float-left text-left main-color clearfix">03</p>
          <p class="float-left text-left clearfix">Getting free testing time for two weeks with potential resources.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 remoteStaffBox">
      <div class="remote-staff-boxMain">
      <img src="../../assets/images/remotestaff4.png">
        <div class="clearfix">
          <p class="float-left text-left main-color clearfix">04</p>
          <p class="float-left text-left">Hiring of the dedicated resource/team.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mt-50">
  <div class="blog-text-main text-center mt-50">
    <h3 class="heading-line"><span>Our Services</span></h3>
    <p class="mt-20">Being Premier IT Solutions & Services partner, we focus on delivering the cutting-edge and
      robust business solutions that
      leverage the latest industry trends through providing skilled resources and delivering quality projects up to Silicon Valley Standards.</p>
  </div>
</div>
<!--services slider-->
<div class="container">

  <div class="services-slider owl-carousel owl-theme mt-25">
    <div class="item">
      <div class="services-slider-box" [routerLink]="['/services']">
        <div class="services-slider-box-inner text-center">
          <img src="../../assets/images/service-consiltant.png" class="services-slider-box-img">
          <h5 class="mt-10">Consulting/Staffing</h5>
          <p class="font-size-11">Topsyntax connects you with the world’s top talent in web development, business and systems analysis, software development, digital marketers & engineering.</p>
          <button class="btn btn-custom-white services-slider-box-btn">Read More</button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="services-slider-box" [routerLink]="['/services']">
        <div class="services-slider-box-inner text-center">
          <img src="../../assets/images/service-consiltant.png" class="services-slider-box-img">
          <h5 class="mt-10"> Custom Software Development Services</h5>
          <p class="font-size-11">Building customized solutions which bring efficiency and speed to  your business workflows.</p>
          <button class="btn btn-custom-white services-slider-box-btn">Read More</button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="services-slider-box" [routerLink]="['/services']">
        <div class="services-slider-box-inner text-center">
          <img src="../../assets/images/service-mobile.png" class="services-slider-box-img">
          <h5 class="mt-10">Mobile Application Development</h5>
          <p class="font-size-11">Talented pool of developers experienced in mobile apps providing excellent services.</p>
          <button class="btn btn-custom-white services-slider-box-btn">Read More</button>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="services-slider-box" [routerLink]="['/services']">
      <div class="services-slider-box-inner text-center">
        <img src="../../assets/images/service-web.png" class="services-slider-box-img">
        <h5 class="mt-10">Web Application Development</h5>
        <p class="font-size-11">Make solutions that accelerate workflows, optimize operations and boost revenues.</p>
        <button class="btn btn-custom-white services-slider-box-btn">Read More</button>
      </div>
      </div>
    </div>


    <div class="item">
      <div class="services-slider-box" [routerLink]="['/services']">
        <div class="services-slider-box-inner text-center">
          <img src="../../assets/images/servoce-web-internet.png" class="services-slider-box-img">
          <h5 class="mt-10">Software Product Development Services</h5>
          <p class="font-size-11">We partner with startups and entrepreneurs to transform their ideas into quality software products.</p>
          <button class="btn btn-custom-white services-slider-box-btn">Read More</button>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="services-slider-box" [routerLink]="['/services']">
        <div class="services-slider-box-inner text-center">
          <img src="../../assets/images/service-api.png" class="services-slider-box-img">
          <h5 class="mt-10">API Integration</h5>
          <p class="font-size-11">Extend the reach of your apps by designing custom APIs and reduce your development time and cost by integrating with other APIs.</p>
          <button class="btn btn-custom-white services-slider-box-btn">Read More</button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="services-slider-box" [routerLink]="['/services']">
      <div class="services-slider-box-inner text-center">
        <img src="../../assets/images/service-games.png" class="services-slider-box-img">
        <h5 class="mt-10">Hire Dedicated Developer </h5>
        <p class="font-size-11">Extend your team with tech experts ready to complete your existing project or build one from scratch.</p>
        <button class="btn btn-custom-white services-slider-box-btn">Read More</button>
      </div>
      </div>
    </div>


    <div class="item">
      <div class="services-slider-box" [routerLink]="['/services']">
      <div class="services-slider-box-inner text-center">
        <img src="../../assets/images/service-layer.png" class="services-slider-box-img">
        <h5 class="mt-10">Cloud Agnostic Services</h5>
        <p class="font-size-11">Optimize and reduce your operational costs by building software solutions on Kubernetes.</p>
        <button class="btn btn-custom-white services-slider-box-btn">Read More</button>
      </div>
      </div>
    </div>


  </div>

</div>



<div class="width-100 home-introductions" style="margin-top: 100px">
  <div class="container">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h3>Inspiring Innovation & Discovery</h3>
      <h5 class="white-color">Brand Leaders' entrust has empowered us to touch sky heights.</h5>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p>With Innovative Discovery, added developmental capacity to high tech teams. Our goal  isn’t only limited to building
        efficient teams but to equally allocate the required human resource across the project lifecycle. Our team has experience
        of working with Walmart & Macy’s on different projects. We are a custom software development  & remote IT staffing solution
        company that guarantees the innovative and successful delivery of the projects.</p>
    </div>

  </div>
</div>

<div class="container mt-20 mb-30">
  <div class="row text-center mt-50">
    <h5 style="color: #797979" class="mb-40">WE HAD THE PLEASURE WORKING WITH</h5>
    <div class="col-sm-2 col-xs-4">
      <img src="../../assets/images/intro1.png" style="width: 50px">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img src="../../assets/images/intro2.png" style="width: 50px">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img src="../../assets/images/intro3.png" style="width: 50px">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img src="../../assets/images/intro1.png" style="width: 50px">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img src="../../assets/images/intro2.png" style="width: 50px">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img src="../../assets/images/intro3.png" style="width: 50px">
    </div>
  </div>
</div>

<div class="container mt-50">
  <div class="col-sm-6 col-xs-12">
    <h4 class="mt-50">Our Design & Development Approach</h4>
    <p class="mt-20 p-dark">If  your idea is still an infant or has already reached puberty,
      you just need to share it with us, and we will make sure its deliverability meets the Silicon Valley standard operating
      procedures and measurements.</p>
    <p class="mt-20 p-dark">We love working on the ideas, aligning it with your business goals, taking all the required measures
      to express your brand. We really know how to do it all. Starting from research to concept, taking it forward from design to
      development, you are in safe and experienced hands. You will feel yourself as you are working with your own team when you
      decide to work with us. By becoming one team, we can assure you that we are ready to achieve greater heights in todays’ world</p>
    <button class="btn btn-custom mt-20 mb-20"  [routerLink]="['/about']">More about us</button>
  </div>
  <div class="col-sm-6 col-xs-12 text-center">
    <div class="width-100">
      <img src="../../assets/images/design-approch1.png" class="" style="width: 350px">
    </div>
    <div class="clearfix">
      <img src="../../assets/images/design-approch2.png" class="width-100 mt-10 mr-10" style="width: 200px;">
      <img src="../../assets/images/design-approch3.png" class="width-100 " style="width: 138px;margin-top: -38px">
    </div>
  </div>
</div>


<div class="container mt-50 text-center">
<!--    <h3>Success Stories of Our Clients</h3>-->
  <div class="blog-text-main">
    <h3 class="heading-line"><span>Success Stories of Our Clients</span></h3>
  </div>
  <div class="success-story-main mt-30">
      <div class="success-story-slider owl-carousel owl-theme mt-25">
        <div class="item">
          <img src="../../assets/images/story1.jpg">
          <p class="mt-40">We are very pleased with how our relationship has evolved with TopSyntax. Process flexibility along with a
            customized blend of on-site and highly professional global talent—what could make more sense?</p>
          <p class="mt-40">Peter Jobbagy</p>
<!--          <p class="">DesignTable</p>-->
        </div>

        <div class="item">
          <img src="../../assets/images/story2.png">
          <p class="mt-40">TopSyntax has proved to be an excellent Outsourcing company for all our Software Development need for over 2
            years. Excellence is earned and trust has been built over the period of time. Partnering with them has provided efficient,
            flexible and cost-effective solutions for our IT needs. They have clearly demonstrated their commitment to providing
            high-quality solutions.  </p>
          <p class="mt-40">John Andrew Williams</p>
        </div>

        <div class="item">
          <img src="../../assets/images/story3.jpg">
          <p class="mt-40">The new application was to be used across our offices by senior management at different locations,
            TopSyntax did an excellent work. They clearly understood the requirements and delivered good quality Price Comparison Tool.
            They pleased us with their high level of creativity and dedication. They promptly identified the loop holes, which helped us save
            big on the project cost. We’ll definitely continue to work with you in future. </p>
          <p class="mt-40">Rui (Ray) Wang</p>
        </div>

        <div class="item">
          <img src="../../assets/images/story4.jpg">
          <p class="mt-40">I was recommended to TopSyntax by a close colleague. From the outset, I found the team at TopSyntax very
            professional in terms of their communication, technical skills, and flexibility. They have helped to transform our e-Commerce
            offering into a platform with excellent stability and speed. The bottom line is, I would recommend TopSyntax to any
            e-Commerce company. </p>
          <p class="mt-40">Emma Johnson</p>
        </div>

      </div>
    </div>
</div>





